a:link, a:visied{
    background-color: darkorange;
    color: darksalmon;
    padding: 14px 25px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active{
    background-color: darkslateblue;
}